---
---

@import "{{ site.theme }}";

input[disabled] {pointer-events:none}
input[type="checkbox"] {margin-right: 10px}
li {margin-top: 20px}

label {
  display: inline-block;
  width: 5em;
}

.ui-tooltip, .arrow:after {
  background: #616161e6;
}

.ui-tooltip {
  padding: 10px 20px;
  color: white;
  border-radius: 4px;
  font: bold 14px "Helvetica Neue", Sans-Serif;
  text-transform: uppercase;
  box-shadow: 0 0 7px black;
}

.main-content blockquote {
    padding: 0 1rem;
    margin-left: 0;
    color: #819198;
    border-left: 0.3rem solid #dce6f0;
    font-style: italic;
}
